body {
     margin: 0px;
     display: block;
     background-color: #FFFBF5;
}

header {
     display: flex;
     justify-content: space-between;
     font-size: 1.2rem;
     padding: 2rem;
     background: linear-gradient( #de9206, #FFFBF5)
}

h1 {
     display: flex;
     padding: 0 0 0 20px;
}

.legend {
     display: inline-flex;
     align-items: center;
     gap: 15px;
     justify-content: space-around;
     font-weight: bold;
     padding: 0 20px 0 0;
}

.decoration {
     text-decoration: none;
     color: rgb(40, 39, 39);
}

.decoration-titulo {
     text-decoration: none;
     color: rgb(40, 39, 39);
}

.decoration-titulo:hover {
     text-decoration: underline;
     color: rgb(132, 100, 3);
     font-size: 2.58rem;
}

.decoration:hover {
     text-decoration: underline;
     color: rgb(132, 100, 3);
     font-size: 2.15rem;
}

.main-page {
     display: flex;
     gap: 50px;
     margin: 20px;
     background-color: rgb(122, 122, 118);
     box-shadow: 10px 10px 10px grey;
     justify-content: flex-end;
     float: right;
     color: rgb(255, 255, 255);
}

.main-page__text {
     display: flex;
     flex-direction: column;
     text-align: center;
     margin: 30px;
}

h2 {
     display: grid;
     text-align: center;
     justify-content: center;
     font-size: 3rem;

}

p {
     display: flex;
     flex-direction: column;
     justify-content: end;
     font-size: 1.7rem;
     padding: 1.5rem;
}

.link-heading {
     text-decoration: none;
     color: rgb(71, 63, 63);
     margin-bottom: 20px;
}

.link-heading:hover {
     text-decoration: underline;
     color: orange;
}

